.terms_and_conditions_box {
  padding: 15px;
  margin-bottom: 15px;
  background: #f7f7f7;
}
.terms_and_conditions_text {
  padding: 20px;
  margin: 15px 0;
  height: 250px;
  overflow: auto;
  background: #fff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}